__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
runs/
dist/
build/
*.egg-info/
.idea/
/DRHL_backup/
chromedriver.exe
.git_actual/
database_recovery/**/*.sql
database_recovery/**/*.sqlite3
database_recovery/**/*.metadata.json
database_recovery/**/runserver.pid
database_recovery/**/*.log
